<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartApp.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value>FR</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogCat" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
              <value>False</value>
            </setting>
        </SmartApp.Properties.Settings>
    </userSettings>
</configuration>
